.toc{
    @media screen and (max-width: 960px){
      display: none;
    }
  
    font-size: .87rem;
    position: fixed;
    right: 0;
    padding-right: 2.25rem;
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: var(--white-ter);
    max-width:  212px;
    
    & li {
      list-style: none;
      line-height: 17px;
      height: 27px;
    }

    & a{
        color: var(--white-ter);
    }
    & a:hover{
        color: var(--red);
    }
}