.toc{

        font-size:.87rem;
        position:fixed;
        right:15px;
        border-left-style:solid;
        border-left-width:3px;
        border-left-color:var(--white-ter);
        max-width:212px;
        padding-right:0rem;
       
    
    & li {
      list-style: none;
      line-height: 17px;
      height: 27px;
    }

    & a{
        color: var(--white-ter);
    }
    & a:hover{
        color: var(--red);
    }
}
@media screen and (max-width:1056px) {
    .toc {
     display:none
    }
   }
   @media screen and (max-width: 1200px){
     .toc{
     border-left: none;
     right:10px;
   }
     .toc a{
       border-bottom: solid 1px var(--red);
     }
     .toc li{
       list-style: none;
       line-height: 20px;
       height:30px;
     }
   
   }