{{ define "main" }}
  {{ partial "header.html" . }}
  <section class="main post-detail">
    <header class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>
    </header>
    <div class="faq">
        {{ .TableOfContents }}
    </div>

    <div class="post-content">
      <div class="faq-content">{{ .Content }}
        </div>
      <hr>
      </div>
    
    <footer class="post-footer">
            
      <p class="post-copyright">
        {{ if .Site.Copyright }}{{ .Site.Copyright }}{{ end }}{{ if gt (div (sub now.Unix .Lastmod.Unix) 86400) 100 }}This post was published <strong>{{ div (sub now.Unix .Lastmod.Unix) 86400 }}</strong> days ago, content in the post may be inaccurate, even wrong now, please take risk yourself.{{ end }}
      </p>
    </footer>
  </section>
  {{ partial "footer.html" . }}
{{ end }}
